h1{
    color: aqua;
}
body{
    color: white;
    margin: 1em;
}
html{
    background-color: darkslategray;
    background-image: url("/curiosity/img/Untitled989_20250415185451.png");
    background-position: center;
    background-size: auto;
}
a{
    color: aqua;
    text-decoration: none;
}
.infoPic{
    image-resolution: 2em;
}